<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SME AHM</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">All Hands Meeting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Welcome to all hands meeting</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Questions</h6>
                    </div>
                    <div class="card-body">
                        <% postList.forEach(function(post) { %>
                        <div class="card border-secondary  mb-1 py-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10"><%= post.postContent %></div>
                                    <div class="col-md-2 float-right">
                                        <button type="button" class="btn btn-primary btn-sm upVote-Button" post-id="<%= post._id %>">
                                            <i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;&nbsp;<%= post.upVotes %>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm downVote-Button" post-id="<%= post._id %>">
                                            <i class="fa fa-thumbs-o-down"></i>&nbsp;&nbsp;&nbsp;<%= post.downVotes %>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <% }); %>

                    </div>
                    <div class="card-footer">
                        <form id="add_question">
                            <div class="form-group">
                                <label for="question">Post your question</label>
                                <textarea class="form-control" id="question" rows="5"></textarea>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary" onclick="addQuestion();">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Page level custom scripts -->
  <script type="module" src="/js/app/index_page.js"></script>

</body>

</html>